/* custom-scrollbar.css */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: var(--background);
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
  border-radius: 8px;
}
